.historial-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://i.postimg.cc/vHWJgpxc/Dise-o-sin-t-tulo-4.png');
}
.historial-navbar-interactive {
  fill: var(--dl-color-theme-neutral-dark);
  color: #1b8a1b;
  width: 1200px;
  height: var(--dl-size-size-medium);
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(241, 242, 181) 0.00%,rgb(19, 80, 88) 100.00%);
}
.historial-desktop-menu {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.historial-links {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 633px;
  height: 42px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.historial-navlink {
  color: #ffffff;
  width: 136px;
  font-size: 28px;
  text-align: center;
  transition: 0.3s;
  font-family: "Exo 2";
  border-radius: var(--dl-radius-radius-radius4);
  text-transform: uppercase;
  text-decoration: none;
}
.historial-navlink:hover {
  fill: var(--dl-color-theme-2);
  color: var(--dl-color-theme-2);
}
.historial-navlink1 {
  color: #ffffff;
  width: 136px;
  font-size: 28px;
  text-align: center;
  transition: 0.3s;
  font-family: "Exo 2";
  border-radius: var(--dl-radius-radius-radius4);
  text-transform: uppercase;
  text-decoration: none;
}
.historial-navlink1:hover {
  fill: var(--dl-color-theme-2);
  color: var(--dl-color-theme-2);
}
.historial-navlink2 {
  color: #ffffff;
  width: 136px;
  font-size: 28px;
  text-align: center;
  transition: 0.3s;
  font-family: "Exo 2";
  border-radius: var(--dl-radius-radius-radius4);
  text-transform: uppercase;
  text-decoration: none;
}
.historial-navlink2:hover {
  fill: var(--dl-color-theme-2);
  color: var(--dl-color-theme-2);
}
.historial-container1 {
  flex: 0 0 auto;
  width: 196px;
  height: 75px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  justify-content: center;
}
.historial-date-time {
  color: #ffffff;
  opacity: 0.5;
  font-family: "Exo 2";
}
.historial-burger-menu {
  display: none;
}
.historial-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.historial-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.historial-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.historial-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.historial-logo {
  height: 2rem;
}
.historial-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.historial-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.historial-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.historial-text {
  margin-bottom: var(--dl-space-space-unit);
}
.historial-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.historial-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.historial-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.historial-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.historial-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.historial-login {
  margin-right: var(--dl-space-space-twounits);
}
.historial-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.historial-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.historial-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 1200px) {
  .historial-navbar-interactive {
    width: 100%;
    height: var(--dl-size-size-medium);
  }
}
@media(max-width: 767px) {
  .historial-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .historial-desktop-menu {
    display: none;
  }
  .historial-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .historial-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .historial-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .historial-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .historial-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .historial-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .historial-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .historial-mobile-menu {
    padding: 16px;
  }
}
